/* Background and Grid */

html, body {
  width: calc(100% - 32px);
  height: calc(100% - 32px);
}

body {
  background: #0E131A;
  display: grid;
  grid-template-columns: repeat(26, 1fr);
  grid-template-rows: repeat(26, 1fr);
  grid-gap: 32px;
  margin: 32px;
}

/* NavBar */